div{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 200px;
    border-style: solid;
    background-color: rgb(35,43,85,0.75);
}
.txtbox{
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 40px;
    height: 30px;
    width: 300px;
}
.Field{
    margin-left: 80px;
    font-family: sans-serif;
    color: rgb(246, 247, 249, 0.8) ;
}
h1{
    margin-left: 165px;
    font-family: sans-serif;
    color: rgb(246, 247, 249, 0.8) ;
    font-size: xx-large;
}
a{
    margin-left: 80px;
    color: aqua;
}
button{
    height: 35px;
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 20px;
    width: 315px;
    background-color: rgb(0, 89, 255);
    margin-bottom: 20px;
}